table {
    width: 500px;

    .category-color-1 {
        background-color: aqua;
    }
    .category-color-2 {
        background-color: coral;
    }
    .category-color-3 {
        background-color: darkgrey;
    }
}